language: node_js
node_js: "lts/*"
cache: yarn
install: yarn
script:
  - yarn build:docs
  - yarn test
before_deploy: yarn build:ci
deploy:
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_TOKEN
  on:
    branch: master
  skip_cleanup: true
